<!-- JavaScript Libraries -->
<div class="container-body">

    <header>

        <div class="container p-0" id="navbar02">


            <nav class="navbar navbar-expand-lg bg-secondary navbar-dark">
                <div>
                    <a href="#" target="_blank" class="logo">
                        <img src="https://cdn-icons-png.flaticon.com/512/6819/6819195.png" alt="logo">
                        <h2 class="nombre-empresa">TechConnect</h2>
                    </a>

                </div>

                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">

                    <div class="navbar-nav m-auto">
                        <!-- filtrar por carrera -->
                        <a class="nav-link disabled" href="#" aria-disabled="true" id="filtrar">Filtrar por:</a>

                        <div class="nav-item dropdown">

                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"
                                id="filtroCarre">Carrera</a>
                            <div class="dropdown-menu">
                                <a href="h_pro.html" class="dropdown-item">ciberseguridad</a>
                                <a href="h_bd.html" class="dropdown-item">Ing. Sistemas</a>
                            </div>
                        </div>
                        <!-- filtros -->
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"
                                id="filtrohab">Habilidades</a>
                            <div class="dropdown-menu">
                                <!-- titulo de filtro -->
                                <h6 class="dropdown-header">Wow ¿Son tantas?</h6>
                                <form>
                                    <!-- habilidades filtro -->
                                    <div class="form-check" *ngFor="let skill of skills">
                                        <input class="form-check-input" type="checkbox" id="habilidad{{skill.id}}"
                                            [value]="skill.id" [(ngModel)]="habilidadesSeleccionadas" (change)="onSkillChange(skill.id)">
                                        <label class="form-check-label" for="habilidad{{skill.id}}">
                                            {{skill.nombreHabilidad}}
                                        </label>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <form class="d-flex" (submit)="buscarEstudiantesPorHabilidades()">
                            <input class="form-control me-2" type="search"
                                placeholder="¿Buscas a alguien en especifico?" aria-label="Search" id="src-bar">
                            <button class="btn btn-outline-success" type="submit" id="btn-search">Buscar</button>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
        <a [routerLink]="['/reclutador/profile/', reclutador.id]" class="nav-link" id="nav-perfil">Ver perfil</a>
        <a [routerLink]="['/reclutador/job-offer']" href="#" class="nav-link" id="nav-mess">Registrar Oferta Laboral</a>
        <a href="#" class="nav-link" id="nav-mess">Postulaciones <span class="badge bg-secondary"
                id="mess-span">4</span></a>
        <a class="nav-link" href="#" id="nav-mess" (click)="onLogout($event)">Cerrar Sesión</a>
    </header>

    <div class="container">
        <!-- Mostrar error si existe -->
        <div *ngIf="errorMessage" class="alert alert-danger">
            {{ errorMessage }}
            <button class="btn btn-primary" (click)="resendVerificationEmail()">Verificar Correo</button>
          </div>
          <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>
          <div *ngIf="errorMessage1" class="alert alert-danger">
            {{ errorMessage1 }}
          </div>

          <div *ngIf="loading" class="spinner">Cargando...</div>
          <div *ngIf="!loading">
            <div class="row">
                <!-- Recorrer la lista de estudiantes y mostrar cada uno en una tarjeta -->
                <div *ngFor="let estudiantes of estudiantes" class="col-md-4 mb-4">
                    <div class="card">
                    <div class="head">
                        <div class="circle"></div>
                        <div class="img">
                        <img [src]="getImageUrl(estudiantes.photo)" alt="Foto del Estudiante">
                        </div>
                    </div>
                    <div class="description">
                        <h3>{{ estudiantes.nombres }}</h3>
                        <h4>{{ estudiantes.carrera }}</h4>
                        <p>{{ estudiantes.bio }}</p>
                        <ul>
                            <li *ngFor="let habilidad of estudiantes.habilidades">{{ habilidad.nombreHabilidad }}</li>
                        </ul>
                    </div>
                    <div class="contact">
                        <a href="#" [routerLink]="['/portafolio_reclu/about', estudiantes.id]">Conectar</a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
          
     <!-- Paginación -->
  <nav aria-label="Paginación">
    <ul class="pagination justify-content-center">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link" (click)="cambiarPagina(currentPage - 1)" aria-label="Anterior">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li *ngFor="let page of [].constructor(totalPages); let i = index" class="page-item" [class.active]="currentPage === i + 1">
        <a class="page-link" (click)="cambiarPagina(i + 1)">{{ i + 1 }}</a>
      </li>
      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <a class="page-link" (click)="cambiarPagina(currentPage + 1)" aria-label="Siguiente">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>