<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>TECHCONNECT - PLATAFORMA VIRTUAL</title>

</head>

<body>
    <div class="container-form register">
        <div class="information">
            <div class="info-childs">
                <img src="./img/UCV-logo.png" alt="UCV" height="57" width="300">
                <h2>¡Te damos la bienvenida a TechConnect!</h2>
                <p>¿Aún no tienes una cuenta?</p>
                <input type="button" value="Registrarse" id="sign-up">
            </div>
        </div>
        <div class="form-information">
            <div class="form-information-childs">
                <h2>Inicio de sesión</h2>
                <br>
                <p>Para unirte a nuestra comunidad inicia sesión con un nombre de usuario</p>
                <form class="form form-register" novalidate action="#" method="POST">
                    <div>
                        <label>
                            <i class='bx bx-user'></i>
                            <input type="email" required placeholder="Correo Electronico" name="email">
                        </label>
                    </div>
                    <div>
                        <label>
                            <i class='bx bx-lock-alt'></i>
                            <input type="password" required placeholder="Contraseña" name="password">
                        </label>
                    </div>
                    <div>
                        <input type="checkbox" id="rememberCheck" name="remember">
                        <label for="rememberCheck">Mantener Sesion Iniciada</label>
                    </div>
                    <div class="recordar">
                        <a href="#">¿Has olvidado tu contraseña?</a>
                    </div>
                    <input type="submit" value="Iniciar sesión" id="sign-in">
                    <div class="alerta-error">Todos los campos son obligatorios</div>
                    <div class="alerta-exito">Ingreso exitoso!</div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>