 <div class="container-body">
    <div class="container-form register">
        <div class="information">
            <div class="info-childs">
                <img src="./img/UCV-logo.png" alt="UCV" height="57" width="300">
                <h2>¡Te damos la bienvenida a TechConnect!</h2>
                <p>¿Aún no tienes una cuenta?</p>
                <input type="button" value="Registrarse" id="sign-up">
            </div>
        </div>
        <div class="form-information">
            <div class="form-information-childs">
                <h2>Inicio de sesión</h2>
                <br>
                <p>Para unirte a nuestra comunidad inicia sesión con un nombre de usuario</p>
                <form class="form form-register" novalidate (ngSubmit)="onSubmit()" method="POST">
                    <div>
                        <label>
                            <i class='bx bx-user'></i>
                            <input type="email" required placeholder="Correo Electronico" name="email" [(ngModel)]="email" autocomplete="email">
                        </label>
                    </div>
                    <div>
                        <label>
                            <i class='bx bx-lock-alt'></i>
                            <input type="password" required placeholder="Contraseña" name="password" [(ngModel)]="password" autocomplete="current-password">
                        </label>
                    </div>
                    <div>
                        <input type="checkbox" id="rememberCheck" name="remember">
                        <label for="rememberCheck">Mantener Sesión Iniciada</label>
                    </div>
                    <div class="recordar">
                        <a href="#">¿Has olvidado tu contraseña?</a>
                    </div>
                    <input type="submit" value="Iniciar sesión" id="sign-in">
                    <div class="alerta-error">Todos los campos son obligatorios</div>
                    <div class="alerta-exito">Ingreso exitoso!</div>
                </form>
            </div>
        </div>
    </div>
 </div>
 