<div class="container-body">
    <main>
        <div class="formbold-main-wrapper" id="containerform">
            <!-- Contenedor principal que envuelve todo el contenido del formulario -->

            <div class="formbold-form-wrapper">
                <!-- Imagen de fondo dentro del contenedor del formulario -->
                <img src="./img/fondo3.0.avif" class="img-fluid formbold-img" alt="imagenfondo">
                <!-- Contenedor para el formulario, aplicando una clase CSS personalizada -->
                <form (ngSubmit)="agregarHabilidadesAlEstudiantes()" method="POST">
                    <!-- Formulario que envía datos mediante el método POST a la URL especificada(FALTA CAMBIAR) -->
                    <section>
                        <div class="formbold-mb-3">
                            <label for="skills" class="formbold-form-label" id="habilipro"> Habilidades de Programación
                            </label>
                            <div class="form-check form-switch"  *ngFor="let skill of skills">
                                <input class="form-check-input" type="checkbox" id="habilidad{{skill.id}}" (change)="onSkillChange(skill.id)">
                                <label class="form-check-label" for="habilidad{{skill.id}}">{{skill.nombreHabilidad}}</label>
                            </div>
                        </div>
                        <button type="submit"  class="formbold-btn">Guardar Habilidades</button>
                        <!-- Botón de envío del formulario -->
                    </section>
                </form>
            </div>
        </div>
    </main>
    <!-- LO QUE HACE LOS CODIGOS ES CUANDO ESTA DESMARCADA LA CASILLA LO DE AGREGAR OTRO ES INVISIBLE, SI SE ACTIVA, SE MUESTRA
    <script>
        // Para el switch de agregar otras habilidades
        document.querySelectorAll('.form-check-input').forEach(function (el) {
            el.addEventListener('change', function () {
                if (this.id === 'othersSwitch' && this.checked) {
                    document.getElementById('other_skill').style.display = 'block';
                } else if (this.id === 'othersSwitch' && !this.checked) {
                    document.getElementById('other_skill').style.display = 'none';
                }
            });
        });

        // Para el switch de agregar otras habilidades de base de datos
        document.querySelectorAll('.form-check-input').forEach(function (el) {
            el.addEventListener('change', function () {
                if (this.id === 'othersSwitchbd' && this.checked) {
                    document.getElementById('other_skillbd').style.display = 'block';
                } else if (this.id === 'othersSwitchbd' && !this.checked) {
                    document.getElementById('other_skillbd').style.display = 'none';
                }
            });
        });
    </script> -->
</div>
