<div class="container-body">
    <div class="container-form register">
        <div class="information">
            <div class="info-childs">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/46/LogoUCV_2018.png/800px-LogoUCV_2018.png" alt="UCV" height="57" width="300">
                <h2>¡Te damos la bienvenida a TechConnect!</h2>
                <p>¿Aún no tienes una cuenta?</p>
                <input type="button" value="Registrarse" id="sign-up">
            </div>
        </div>
        <div class="form-information">
            <div class="form-information-childs">
                <h2>Inicio de sesión</h2>
                <br>
                <p>Para unirte a nuestra comunidad inicia sesión con un nombre de usuario</p>
                <form class="form form-register" novalidate [formGroup]="resetForm" (ngSubmit)="onSubmit()" method="POST">
                    <label>
                        Email:
                        <input type="email" formControlName="email">
                      </label>
                      <label>
                        Nueva Contraseña:
                        <input type="password" formControlName="password">
                      </label>
                      <label>
                        Confirmar Nueva Contraseña:
                        <input type="password" formControlName="password_confirmation">
                      </label>
                      <label>
                        Token:
                        <input type="text" formControlName="token">
                      </label>
                      <button type="submit">Restablecer Contraseña</button>
                </form>
                <div *ngIf="errorMessage" class="alerta-error">{{ errorMessage }}</div>
                    <div *ngIf="successMessage" class="alerta-exito">{{ successMessage }}</div>
            </div>
        </div>
    </div>
 </div>
 