<div class="container-body">
    <div class="container-form register">
        <div class="information">
            <div class="info-childs">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/46/LogoUCV_2018.png/800px-LogoUCV_2018.png" alt="UCV" height="57" width="300">
                <h2>¡Te damos la bienvenida a TechConnect!</h2>
                <p>¿Aún no tienes una cuenta?</p>
                <input type="button" value="Registrarse" id="sign-up">
            </div>
        </div>
        <div class="form-information">
            <div class="form-information-childs">
                <h2>Restablecimiento de Contraseña</h2>
                <br>
                <p>Coloca tu nueva contraseña y confirmala en el siguiente recuadro por favor</p>
                <form class="form form-register" novalidate (ngSubmit)="onSubmit()" method="POST">
                  <div>
                    <label>
                        <i class='bx bx-lock-alt'></i>
                        <input type="password" required placeholder="Nueva Contraseña" name="password" [(ngModel)]="password" id="password" minlength="8" >
                    </label>
                </div>
                <div>
                  <label>
                      <i class='bx bx-lock-alt'></i>
                      <input type="password" required placeholder="Confirmar Nueva Contraseña" name="password_confirmation" [(ngModel)]="password_confirmation" id="password_confirmation" minlength="8" >
                  </label>  
              </div>
                  <div *ngIf="!passwordsMatch()" class="alerta-error"> Las Contraseñas no Coinciden</div>
                  <div *ngIf="errorMessage" class="alerta-error">{{ errorMessage }}</div>
                    <div *ngIf="successMessage" class="alerta-exito">{{ successMessage }}</div>
                      <input type="submit" [disabled]="!passwordsMatch()" id="sign-in" value="Confirmar">
                </form>
            </div>
        </div>
    </div>
 </div>
 