<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo-container">
                <p class="logo">Techconnect</p>
                <img class="logo-img" src="assets/UCV-icono.png" alt="Logo">
            </div>
            <nav>
                <a href="#">Ver perfil</a>
                <a href="#">Cerrar Sesión</a>    
            </nav>
        </div>
    </header>
    <section class="seccion">
    <div class="col-lg-8">
        <div class="job-list-container"> <!-- Nuevo contenedor -->
            <h2 class="title">Ver postulaciones</h2>
            <div class="right-job-list">
                <div class="job-list-heading  mb-40 d-flex align-items-center justify-content-between">
                    <strong>Actualmente hay 104 candidatos.</strong>
                <div class="sort-list d-flex align-items-center justify-content-around">
                    <strong>Buscar por habilidad:</strong>
                    <div class="">
                        <select class="form-select" aria-label="Default select example">
                          <option selected="">Phyton</option>
                          <option value="1">Javascript</option>
                          <option value="2">C#</option>
                          <option value="3">PHP</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="Candidate-list">
                <div class="Candidate-list-1 mb-40 d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="Candidate-pic">
                            <img src="https://html.creativegigstf.com/khuj/khuj/images/team/team-19.png" alt="">
                        </div>
                    </div>
                        <div class="Candidate-name d-flex align-items-start justify-content-center flex-column">
                            <h4 class="mb-20">Ronald Richards</h4>
                            <span>Ciberseguridad</span>
                        </div>                    
                        <div class="Candidate-place d-flex align-items-start justify-content-center flex-column">
                            <ul>
                                <li class="mb-20"><span></span><span>Phyton</span></li>
                                <li class="mb-20"><span></span><span>Javascript</span></li>
                                <li class="mb-20"><span></span><span>Excel Avanzado</span></li>
                            </ul>                    
                        </div>
                    <div class="Candidate-contact">
                        <a href="link-al-certificado" class="view-certificate-button">Mirar Certificado</a>                    </div>
                </div>
            </div>
            <div class="Candidate-list">
                <div class="Candidate-list-1 mb-40 d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="Candidate-pic">
                            <img src="https://html.creativegigstf.com/khuj/khuj/images/team/team-19.png" alt="">
                        </div>
                    </div>
                        <div class="Candidate-name d-flex align-items-start justify-content-center flex-column">
                            <h4 class="mb-20">Ronald Richards</h4>
                            <span>Ciberseguridad</span>
                        </div>                    
                        <div class="Candidate-place d-flex align-items-start justify-content-center flex-column">
                            <ul>
                                <li class="mb-20"><span></span><span>Phyton</span></li>
                                <li class="mb-20"><span></span><span>Javascript</span></li>
                                <li class="mb-20"><span></span><span>Excel Avanzado</span></li>
                            </ul>                    
                        </div>
                    <div class="Candidate-contact">
                        <a href="link-al-certificado" class="view-certificate-button">Mirar Certificado</a>                     
                    </div>
                </div>
            </div>
        <div class="Candidate-list">
            <div class="Candidate-list-1 mb-40 d-flex align-items-center justify-content-between">
                <div class="Candidate-pic">
                    <img src="https://html.creativegigstf.com/khuj/khuj/images/team/team-21.png" alt="">
                </div>
                <div class="Candidate-name d-flex align-items-start justify-content-center flex-column">
                    <h4 class="mb-20">Theresa Webb</h4>
                    <span>Ingeniero de Sistemas</span>
                </div>
                <div class="Candidate-place d-flex align-items-start justify-content-center flex-column">
                    <ul>
                        <li class="mb-20"><span></span><span>Phyton</span></li>
                        <li class="mb-20"><span></span><span>Javascript</span></li>
                        <li class="mb-20"><span></span><span>PHP</span></li>
                    </ul> 
                </div>
                <div class="Candidate-contact">
                    <a href="link-al-certificado" class="view-certificate-button">Mirar Certificado</a>                     
                </div>
            </div>
        </div>
        <div class="Candidate-list">
            <div class="Candidate-list-1 mb-40 d-flex align-items-center justify-content-between">
                <div class="Candidate-pic">
                        <img src="https://html.creativegigstf.com/khuj/khuj/images/team/team-21.png" alt="">
                    </div>
                    <div class="Candidate-name d-flex align-items-start justify-content-center flex-column">
                        <h4 class="mb-20">Jacob Jones</h4>
                        <span>Ciberseguridad</span>
                    </div>
                    <div class="Candidate-place d-flex align-items-start justify-content-center flex-column">
                        <ul>
                            <li class="mb-20"><span></span><span>Phyton</span></li>
                            <li class="mb-20"><span></span><span>Javascript</span></li>
                            <li class="mb-20"><span></span><span>Ruby</span></li>
                        </ul> 
                    </div>
                    <div class="Candidate-contact">
                        <a href="link-al-certificado" class="view-certificate-button">Mirar Certificado</a>                     
                    </div>
                </div>
            </div>
            <div class="Candidate-list">
                <div class="Candidate-list-1 mb-40 d-flex align-items-center justify-content-between">
                    <div class="Candidate-pic">
                        <img src="https://html.creativegigstf.com/khuj/khuj/images/team/team-23.png" alt="">
                    </div>
                    <div class="Candidate-name d-flex align-items-start justify-content-center flex-column">
                        <h4 class="mb-20">Arlene McCoy</h4>
                        <span>Ciberseguridad</span>
                    </div>
                    <div class="Candidate-place d-flex align-items-start justify-content-center flex-column">
                        <ul>
                            <li class="mb-20"><span></span><span>Phyton</span></li>
                            <li class="mb-20"><span></span><span>Javascript</span></li>
                            <li class="mb-20"><span></span><span>Excel Avanzado</span></li>
                        </ul> 
                    </div>
                    <div class="Candidate-contact">
                        <a href="link-al-certificado" class="view-certificate-button">Mirar Certificado</a>                     
                    </div>
                </div>
            </div>
            <div class="Candidate-list">
                <div class="Candidate-list-1 mb-40 d-flex align-items-center justify-content-between">
                    <div class="Candidate-pic">
                        <img src="https://html.creativegigstf.com/khuj/khuj/images/team/team-22.png" alt="">
                    </div>
                    <div class="Candidate-name d-flex align-items-start justify-content-center flex-column">
                        <h4 class="mb-20">Kristin Watson</h4>
                        <span>Ingeniero de Sistemas</span>
                    </div>
                    <div class="Candidate-place d-flex align-items-start justify-content-center flex-column">
                        <ul>
                            <li class="mb-20"><span></span><span>Phyton</span></li>
                            <li class="mb-20"><span></span><span>Javascript</span></li>
                            <li class="mb-20"><span></span><span>Excel Avanzado</span></li>
                        </ul>
                    </div>
                    <div class="Candidate-contact">
                        <a href="link-al-certificado" class="view-certificate-button">Mirar Certificado</a>                     
                    </div>
                </div>
            </div>
            <div class="job-list-pagination d-flex align-items-center pt-60">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#"><i class="bi bi-arrow-right-short"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </div>
</section>
</body>
</html>
