<div class="container-body">
    <div class="container-form register">
        <div class="information">
            <div class="info-childs">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/46/LogoUCV_2018.png/800px-LogoUCV_2018.png" alt="UCV" height="57" width="300">
                <h2>¡Te damos la bienvenida a TechConnect!</h2>
                <p>¿Aún no tienes una cuenta?</p>
                <input type="button" value="Registrarse" id="sign-up">
            </div>
        </div>
        <div class="form-information">
            <div class="form-information-childs">
                <h2>Envio de Correo de restablecimiento de contraseña</h2>
                <br>
                <p>Para restablecer tu contraseña, deja el correo asociado a tu cuenta</p>
                <form class="form form-register" novalidate (ngSubmit)="onSubmit()" method="POST" [formGroup]="requestForm">
                    <div>
                        <label>
                            <i class='bx bx-user'></i>
                            <input type="email" required placeholder="Introduce tu correo Electrónico" name="email"id="email" formControlName="email" autocomplete="email">
                        </label>
                    </div>
                    <input type="submit" value="Enviar" id="sign-in" [disabled]="requestForm.invalid">  
                </form>
                <div *ngIf="errorMessage" class="alerta-error">{{ errorMessage }}</div>
                    <div *ngIf="successMessage" class="alerta-exito">{{ successMessage }}</div>
            </div>
        </div>
    </div>
 </div>
 