<div class="container-body">
    <header>
        <div class="container">
            <div class="logo-container">
                <p class="logo">Techconnect</p>
                <img class="logo-img" src="public/img/UCV-icono.png" alt="Logo">
            </div>
            <nav>
                <a [routerLink]="['/reclutador/home.reclutador']" href="#">Volver</a>    
            </nav>
        </div>
    </header>
    
    <section class="seccion" id="sec-3d32">
        <div class="container hoja">
            <div class="columna izquierda">
                <h2 class="texto-encabezado">{{reclutador.nombreEmpresa}}</h2>
                <img class="imagen" src="public/img/blog-5.jpg" alt="Imagen de empresa">
            </div>
            <div class="columna derecha">
                <h2 class="texto-encabezado gris">Registro de Oferta Laboral</h2>
                <form (ngSubmit)="onSubmit()" class="formulario">
                    <div class="formulario-grupo">
                        <label for="titulo" class="oculto">Titulo de la Oferta</label>
                        <input type="text" placeholder="Ingrese el titulo de la oferta laboral" id="titulo" [(ngModel)]="oferta.titulo" name="name" class="input" required>
                    </div>
                    <div class="formulario-grupo">
                        <label for="nombre-empresa" class="oculto">Nombre de la Empresa</label>
                        <input type="text" placeholder="Ingrese el nombre de la Empresa" id="nombre-empresa" [(ngModel)]="oferta.nombreEmpresa" name="name" class="input" value="{{reclutador.nombreEmpresa}}" required>
                    </div>
                    <div class="formulario-grupo">
                        <label for="ciudad-oferta" class="oculto">Ciudad</label>
                        <input type="text" placeholder="Ingrese la ciudad de la oferta" id="ciudad-oferta" [(ngModel)]="oferta.ciudad" name="name" class="input" required>
                    </div>
                    <div class="formulario-grupo">
                        <label for="sueldo">Sueldo</label>
                        <input type="number" id="sueldo" [(ngModel)]="oferta.sueldo" name="sueldo" class="form-control" placeholder="Ingrese el sueldo">
                      </div>
                    <div class="formulario-grupo">
                        <label for="carrera" class="label">Ingrese la carrera solicitada:</label>
                        <div class="checkbox-grupo">
                            <label for="carrera">Carrera solicitada</label>
                            <select id="carrera" [(ngModel)]="oferta.carrera" name="carrera" class="form-control">
                                <option value="Ing. de Sistemas">Ingeniería de Sistemas</option>
                                <option value="Ciberseguridad">Ciberseguridad</option>
                            </select>
                        </div>
                    </div>
                    <div class="formulario-grupo">
                        <label for="descripcion" class="oculto">Descripción</label>
                        <textarea placeholder="Ingrese la descripción" rows="5" id="descripcion" [(ngModel)]="oferta.descripcion" name="message" class="input" required></textarea>
                    </div>
                    <div class="formulario-grupo">
                        <label class="label">Habilidades requeridas:</label>
                        <div *ngFor="let skill of skills">
                            <input type="checkbox" [value]="skill.id" (change)="onSkillChange(skill.id)">
                            <label>{{ skill.nombreHabilidad }}</label>
                          </div>
                    </div>
                    <div class="formulario-grupo">
                        <button type="submit" class="btn enviar">Enviar</button>
                    </div>
                </form>
                <div *ngIf="errorMessage" class="alert alert-danger">
                    {{ errorMessage }}
                </div>
                <!-- Alerta de éxito -->
                 <div *ngIf="successMessage" class="alert alert-success" role="alert">
                    {{ successMessage }}
                </div>
            </div>
        </div>
    </section>
    
    <footer>
        <div class="container">
            <ul class="contacto">
                <li><strong>Contacto</strong></li>
                <li>Whatsapp: <a href="https://wa.me/51926980976" target="_blank">926980976</a></li>
                <li>Gmail: <a href="mailto:jeescuderos@ucvvirtual.edu.pe">jeescuderos&#64;ucvvirtual.edu.pe</a></li>
                <li>Conoce nuestros campus</li>
            </ul>
            <div class="logo">
                <img src="public/img/logo.png" alt="logo de la universidad" style="height: 60px;">
            </div>
        </div>
        <p style="text-align: center;">&#64;Todos Los Derechos reservados - Universidad César Vallejo</p>
    </footer>
</div>
