<body>
    <div class="formulario">
        <h1>Registro de Estudiante</h1>
        <form method="POST" action="registro_estudiante.php">
            <input type="text" name="nombre" placeholder="Nombre completo">
            <input type="email" name="email" required placeholder="Correo institucional">
            <input type="password" name="password" required placeholder="Contraseña">
            <input type="submit"  name="registrarse" value="Registrarse">            
        </form>
        <div class="login-link">
            <h2>¿Ya tiene cuenta?</h2> <a [routerLink]="['/login']">Iniciar sesión</a>
        </div>
    </div>
</body>