<div class="container-body">
    <main>
        <div class="formbold-main-wrapper">
            <div class="formbold-form-wrapper">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNzY6d3aVTcGvOhnQdVXdpx7Tf9QVMOZupUA&s"
                    class="img-fluid" alt="imagenfondo">
                <form  method="POST" enctype="multipart/form-data" (ngSubmit)="onSubmit()">
                    <!-- Reemplaza 'ruta-a-tu-archivo-de-servidor' con la ruta real de tu servidor -->
                    <div class="formbold-mb-3">
                        <label for="nombreEmpresa" class="formbold-form-label">Razon Social</label>
                        <input type="text" name="nombreEmpresa" id="nombreEmpresa" [(ngModel)]="reclutador.nombreEmpresa"
                            placeholder="Nombre de la Empresa o Nombres..." class="formbold-form-input" />
                    </div>
                    <div class="formbold-mb-3">
                        <label for="correo" class="formbold-form-label">Correo Electrónico</label>
                        <input type="email" name="correo" id="correo" [(ngModel)]="reclutador.correo" placeholder="example@email.com"
                            class="formbold-form-input" />
                    </div>
                    <div class="formbold-mb-3">
                        <label for="direccion" class="formbold-form-label">Direccion</label>
                        <input type="text" name="direccion" id="direccion" [(ngModel)]="reclutador.direccion" placeholder="Direccion de la Empresa..."
                            class="formbold-form-input" />
                    </div>
                    <div class="formbold-mb-3 formbold-input-wrapp">
                        <label for="telefono" class="formbold-form-label">Teléfono</label>
                        <input type="text" name="telefono" id="telefono" [(ngModel)]="reclutador.telefono" placeholder="Número Telefónico"
                            class="formbold-form-input" />
                    </div>
                    <div class="formbold-input-flex">
                        <div>
                            <label for="codigoPostal" class="formbold-form-label">Código Postal</label>
                            <input type="text" name="codigoPostal" id="codigoPostal" [(ngModel)]="reclutador.codigoPostal"  placeholder="ex:8976"
                                class="formbold-form-input" />
                        </div>
                        <div>
                            <label for="ciudad" class="formbold-form-label">Ciudad</label>
                            <input type="text" name="ciudad" id="ciudad" [(ngModel)]="reclutador.ciudad" placeholder="ex: Lima"
                                class="formbold-form-input" />
                        </div>
                    </div>
                    <div class="formbold-mb-3">
                        <label for="descripcionEmpresa" class="formbold-form-label">Información sobre su Empresa</label>
                        <textarea name="descripcionEmpresa" id="descripcionEmpresa" [(ngModel)]="reclutador.descripcionEmpresa" rows="4"
                            placeholder="Describa su Empresa" class="formbold-form-input"></textarea>
                    </div>
                    <div class="formbold-mb-3 formbold-input-wrapp">
                        <label for="logo" class="formbold-form-label"> Subir Logo de la Empresa</label>
                        <input type="file" name="logo" id="logo" (change)="onFileSelected($event)" class="formbold-form-input formbold-form-file"  accept=".jpg, .jpeg, .png" size="2048" />
                        <!-- Campo de entrada para subir un archivo, con un ID y una clase personalizada -->
                    </div>
                    <div class="container-sm" id="img">
                        <img id="selectedImage"
                            src="https://media.istockphoto.com/id/1223671392/es/vector/imagen-de-perfil-predeterminada-avatar-marcador-de-posici%C3%B3n-de-la-foto-ilustraci%C3%B3n-vectorial.jpg?s=170667a&w=0&k=20&c=lOj6z2Uu8b8CXtOz2jdE9xVPH6AGGopGjYIhOnoN3eY="
                            class="img-thumbnail" alt="Imagen predeterminada">
                    </div>
                    <button type="submit" class="btn btn-primary">Actualizar Reclutador</button>
                    <!-- Mostrar el mensaje de error si existe -->
                    <div *ngIf="errorMessage" class="error-message">
                        {{ errorMessage }}
                    </div>
                    <div *ngIf="successMessage" class="alert alert-success">    
                    {{ successMessage }}
                </div>
                </form>
            </div>
        </div>
    </main>

</div>
