<div class="container-body">
    <header>
        <ul class="nav nav-tabs" id="nav">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" [routerLink]="['/reclutador/home.reclutador']"
                    id="navtxt">Retornar</a>
            </li>
        </ul>
        <h1>Bienvenido, Nombre de la Empresa!</h1>
    </header>

    <div class="container-sm">
        <div class="container-sm" id="img">
            <img id="selectedImage"
                [src]="getImageUrl()"
                class="img-thumbnail" alt="Imagen predeterminada">
        </div>

        <div class="col-md-6" id="datah2">
            <h2>Sobre Nosotros</h2>
            <textarea name="career_info" id="career_info" rows="10" placeholder="Describa su Empresa"
                class="formbold-form-input" readonly> {{reclutador?.descripcionEmpresa || 'Descripcion de la Empresa'}} </textarea>
        </div>

        <div class="col-md-6" id="dataes">
            <h2>Datos del Reclutador</h2>
            <p><strong>Nombre de la Empresa:</strong> {{ reclutador?.nombreEmpresa || 'Nombre de la Empresa' }}</p>
            <p><strong>Email:</strong>{{ reclutador?.correo || 'ejemplo@correo.com' }}</p>
            <p><strong>Dirección:</strong> {{ reclutador?.direccion || 'Dirección de la Empresa' }}</p>
            <p><strong>Teléfono:</strong>  {{ reclutador?.telefono || '123-456-7890' }}</p>

              <!-- Botón que cambia según si hay datos del reclutador o no -->
            <button type="button" class="btn btn-primary" id="btndata" (click)="onButtonClick()">
                {{ reclutador? 'Actualizar Datos' : 'Registrar Datos' }}
            </button>
        </div>
                <!-- Mostrar mensaje de error si hay alguno -->
        <div *ngIf="errorMessage" class="alert alert-danger">
            {{ errorMessage }}
        </div>
    </div>
</div>